# Terraform state & cache
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*

# Local overrides
terraform.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Editors
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store
