dn: ou=users,{{ base_dn }}
objectClass: organizationalUnit
ou: users

dn: ou=svcaccounts,{{ base_dn }}
objectClass: organizationalUnit
ou: svcaccounts

dn: cn=keycloak-bind,ou=svcaccounts,{{ base_dn }}
objectClass: organizationalRole
objectClass: simpleSecurityObject
cn: keycloak-bind
userPassword: {{ secrets.ldap_keycloak_bind_password }}
description: Compte de service utilise par Keycloak (User Federation WRITABLE)

dn: cn=radius-bind,ou=svcaccounts,{{ base_dn }}
objectClass: organizationalRole
objectClass: simpleSecurityObject
cn: radius-bind
userPassword: {{ secrets.ldap_radius_bind_password }}
description: Compte utilise par FreeRADIUS pour les recherches LDAP (rlm_ldap)

dn: ou=groups,{{ base_dn }}
objectClass: organizationalUnit
ou: groups

dn: uid=admin,ou=users,{{ base_dn }}
objectClass: inetOrgPerson
objectClass: organizationalPerson
uid: admin
cn: Administrator
sn: Administrator
userPassword: {{ secrets.ldap_admin_password }}
description: Compte administrateur

dn: cn=superadmin,ou=groups,{{ base_dn }}
objectClass: groupOfNames
cn: superadmin
member: cn=admin,{{ base_dn }}

dn: cn=prof,ou=groups,{{ base_dn }}
objectClass: groupOfNames
cn: prof
member: cn=admin,{{ base_dn }}

dn: cn=student,ou=groups,{{ base_dn }}
objectClass: groupOfNames
cn: student
member: cn=admin,{{ base_dn }}
